.clock-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 7px;
  /* grid-row-gap: 65px; */
  /* padding-top: 50px; */
  place-items: end;
  /* height: 500px; */
  padding-bottom: 30px;
}

.clock-container h1 {
  font-size: 96px;
  margin: 10px;
}

.clock-container span {
  font-size: 40px;
  font-weight: 500;
  margin: 8px;
}
.clock-container img {
  width: 50px;
}

/* phone */
@media screen and (max-width: 700px) {
  .clock-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 7px;
    /* grid-row-gap: 65px; */
    /* padding-top: 50px; */
    place-items: end;
    /* height: 500px; */
    padding-bottom: 30px;
  }
  .header-container h1 {
    font-size: 10vw;
  }
  .item2:nth-child(1) {
    order: 2;
  }
  .itme2:nth-child(2) {
    order: 1;
  }
  .clock-container img {
    width: 20px;
  }
  .clock-container span {
    font-size: 20px;
  }
  .location {
    margin: 0 auto;
    padding: 20px 0;
  }
}
